{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock %}
{% block title %}
    NUEVA OFERTA DE EMPLEO
{% endblock %}
{% block content %}

    <article id="main">
        <header>
            <h2>REGISTRO DE OFERTAS</h2>
            <p>Las empresas empleadoras pueden reclutar egresados del ITSH desde esta web</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <section>

                    <h4>¡Bienvenida Empresa Empleadora!</h4>
                    <p align="justify">En esta página puedes colaborar con el ITSH para emplear a uno de nuestros
                        egresados,
                    </p>

                    <h4>LLENA EL TEST PARA REGISTRAR UNA OFERTA</h4>
                </section>
                <div class="row">
                    <section>
                        <form method="post" enctype="multipart/form-data">
                            <div class="row uniform" style="width: 82vw;">
                                {% csrf_token %}
                                {% for field in form_oferta %}
                                    {% if field.name == "nombre" or field.name == "descripcion" or field.name == "ubicacion" or field.name == "requisitos" %}
                                        <div class="12u 12u$(xsmall)">
                                    {% else %}
                                        <div class="6u 12u$(xsmall)">
                                    {% endif %}
                                            {{ field.label_tag }}{{ field }}
                                        </div>
                                    <br>
                                {% endfor %}
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="submit" value="GUARDAR OFERTA" class="special"/></li>
                                        <li><input type="reset" value="LIMPIAR"/></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </section>
    </article>

{% endblock %}
{% block scripts %}

{% endblock %}