{% load static %}
<!DOCTYPE HTML>

<html>
<head>
    <title>FORMULARIO</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'index/assets/css/main.css' %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'index/assets/css/ie8.css'%}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'index/assets/css/ie9.css'%}" /><![endif]-->
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'index_app:index' %}">Inicio</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{% url 'index_app:index' %}">Inicio</a></li>
                            <li><a href="{% url 'egresados' %}">Egresados</a></li>
                            <li><a href="{% url 'acercaDe' %}">Acerca de</a></li>
                            {% if user.is_authenticated %}
                                <li>Hola {{ user.nombre }}</li>
                                <li><a href="{% url 'salir' %}">Salir</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Ingresa</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>FORMULARIO DE SEGUIMIENTO</h2>
            <p>Llena el siguiente formulario para dar seguimiento a tu profesion</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4>LLENA EL TEST PARA PODER VER LAS OFERTAS</h4>
                    <p align="justify">
                        Este es el seguimiento de egresados del Instituo Tecnológico Superior de Huatusco, aquí podrás
                        llenar un test, elaborado por el personal del instituto, con la finalidad de, ayudarte a tí como
                        egresado del ITSH a posicionarte en una empresa o institución adecuada a tu perfil académico,
                        anexando tus datos que se han ido recabando desde que acudiste a tu servicio social.
                    </p>

                    <p align="justify">
                        Recuerda que el ITSH te apoya en todo momento, el Sistema de Seguimieto te otorga un curriculum
                        con la informacion profesional que adquiere el egresado desde sus practicas de servicio social,
                        practicas de residencia profesional y tu empleo actual, cuya informacion deberás llenar a
                        continuación:
                    </p>
                </section>
                <!--
                <section>
                    <div class="row">
                        <div class="6u$ 12u$(medium)">
                            <h5>Icons</h5>
                            <ul class="icons">
                                <li>
                                    <a href="#" class="icon fa-twitter">
                                        <span class="label">
                                            Twitter
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon fa-facebook">
                                        <span class="label">
                                            Facebook
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon fa-instagram">
                                        <span class="label">
                                            Instagram
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon fa-github">
                                        <span class="label">
                                            Github
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                -->
                <section>
                    <form method="post" action="{% url 'test' %}">
                        {% csrf_token %}
                        {% if error %}
                            <h3 class="text-danger">{{ error }}</h3>
                        {% endif %}
                        <div class="row uniform">
                            <!--<div class="6u 12u$(xsmall)">
                                <label for="nombre">Nombre:</label>
                                <input type="text" name="NOMBRE" id="NOMBRE" value="" required/>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="control">No. Control:</label>
                                <input type="text" name="NO_CONTROL" id="NO_CONTROL" value="" required/>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="email">Correo electrónico:</label>
                                <input type="email" name="CORREO" id="CORREO" value="" required/>
                            </div>

                            <div class="6u 12$(xsmall)">
                                <label for="carrera">Carrera:</label>
                                <div class="select-wrapper">
                                    <select name="CARRERAS" id="CARRERAS">
                                        {% for carrera in carreras %}
                                            <option value="{{ carrera }}">{{ carrera }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="4u 12u$(small)">
                                <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                                <label for="demo-priority-low">Low</label>
                            </div>
                            <div class="4u 12u$(small)">
                                <input type="radio" id="demo-priority-normal" name="demo-priority">
                                <label for="demo-priority-normal">Normal</label>
                            </div>
                            <div class="4u$ 12u$(small)">
                                <input type="radio" id="demo-priority-high" name="demo-priority">
                                <label for="demo-priority-high">High</label>
                            </div>
                            <div class="6u 12u$(small)">
                                <input type="checkbox" id="demo-copy" name="demo-copy">
                                <label for="demo-copy">Email me a copy</label>
                            </div>
                            <div class="6u$ 12u$(small)">
                                <input type="checkbox" id="demo-human" name="demo-human" checked>
                                <label for="demo-human">Not a robot</label>
                            </div>-->
                            <div class="6u 12u$(xsmall)">
                                <label for="fecha_egreso">Periodo:</label>
                                <select name="FECHA_EGRESO" id="FECHA_EGRESO">
                                    {% for anio in anios %}
                                        <option value="{{ anio }}">{{ anio }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="residencias">Lugar de residencias profesionales:</label>
                                <input type="text" name="RESIDENCIAS" id="RESIDENCIAS" value="" required/>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="domicilio">Domicilio actual:</label>
                                <input type="text" name="DOMICILIO" id="DOMICILIO" value="" required/>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="tel">Teléfono:</label>
                                <input type="text" name="TELEFONO" id="TELEFONO" value="" placeholder="TELEFONO"
                                       required/>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <label for="empleo_actual">Empleo Actual:</label>
                                <input type="text" name="EMPLEO_ACTUAL" id="EMPLEO_ACTUAL" value="" required/>
                            </div>
                            <div class="6u 12$(xsmall)">
                                <label for="enfoque_carrera">¿Tu empleo actual es enfocado a tu carrera?</label>
                                <div class="select-wrapper">
                                    <select name="ENFOQUE" id="ENFOQUE">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="12u$">
                                <label for="nivel_conocimientos">¿Consideras que tu nivel de conocimientos es óptimo
                                    para enfrentar el campo laboral en el que te desempeñas?</label>
                                <div class="select-wrapper">
                                    <select name="NIVEL" id="NIVEL">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="12u$">
                                <label for="necesidades_basicas">¿Cuáles fueron las necesidades básicas en tu
                                    formación
                                    profesional que no tuviste en el ITSH y que ahora afectan tu trabajo?</label>
                                <input type="text" name="NECESIDADES" id="NECESIDADES" value="" required/>
                            </div>
                            <div class="12u$(xsmall)">
                                <label for="empleo_acorde">¿Has encontrado empleo en la zona de influencia del ITSH
                                    acorde a tu carrera? Si tu respuesta es No contesta la siguiente
                                    pregunta</label>
                                <div class="select-wrapper">
                                    <select name="ZONA" id="ZONA">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="12u$">
                                <label for="no_encontrado">Por qué consideras que No has encontrado empleo en la
                                    zona de
                                    influencia del ITSH acorde a tu carrera?</label>
                                <input type="text" name="NO_ENCONTRADO" id="NO_ENCONTRADO" value="" required/>
                            </div>
                            <div class="12u$">
                                <label for="dificultades">Qué dificultades has encontrado para conseguir
                                    empleo?</label>
                                <input type="text" name="DIFICULTADES" id="DIFICULTADES" value="" required/>
                            </div>
                            <div class="12u$">
                                <label for="posgrado">Te interesaría cursar estudios de posgrado en el ITSH?</label>
                                <div class="select-wrapper">
                                    <select name="OP_POSGRADO" id="OP_POSGRADO">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="12u$">
                                <label for="porque">Por qué?</label>
                                <input type="text" name="PORQUE" id="PORQUE" value="" required/>
                            </div>
                            <div class="12u$">
                                <label for="foro">Te gustaría que en el ITSH se realizara un foro de egresados para
                                    compartir experiencias?</label>
                                <div class="select-wrapper">
                                    <select name="FORO" id="FORO">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="12u$">
                                <label for="sugerencia">Qué sugerirías para mejorar la formación de profesionales en
                                    el ITSH?</label>
                                <input type="text" name="SUGERENCIA" id="SUGERENCIA" value="" required/>
                            </div>
                            <div class="12u$">
                                <label for="formacion">Consideras importante que el ITSH te ayude a incorporarte al
                                    sector laboral?</label>
                                <div class="select-wrapper">
                                    <select name="FORMACION" id="FORMACION">
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="ENVIAR TEST" class="special"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </article>
    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li>
                <a href="#" class="icon fa-facebook">
                    <span class="label">
                        Facebook
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="icon fa-envelope-o">
                    <span class="label">
                        Email
                    </span>
                </a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; ITSH</li>
            <li>Deseñado by: <a href="#">RAFA and NANO</a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'index/assets/js/skel.min.js' %}"></script>
<script src="{% static 'index/assets/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'index/assets/js/ie/respond.min.js'%}"></script><![endif]-->
<script src="{% static 'index/assets/js/main.js' %}"></script>

</body>
</html>>