{% load static %}
<!DOCTYPE HTML>

<html>
<head>
    <title>FORMULARIO</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'index/assets/css/main.css' %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'index/assets/css/ie8.css'%}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'index/assets/css/ie9.css'%}" /><![endif]-->
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'index_app:index' %}">Inicio</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{% url 'index_app:index' %}">Inicio</a></li>
                            <li><a href="{% url 'egresados' %}">Egresados</a></li>
                            <li><a href="{% url 'acercaDe' %}">Acerca de</a></li>
                            {% if user.is_authenticated %}
                                <li>Hola {{ user.nombre }}</li>
                                <li><a href="{% url 'salir' %}">Salir</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Ingresa</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>FORMULARIO DE SEGUIMIENTO</h2>
            <p>Llena el siguiente formulario para dar seguimiento a tu profesion</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4>LLENA EL TEST PARA PODER VER LAS OFERTAS</h4>
                    <p align="justify">
                        Este es el seguimiento de egresados del Instituo Tecnológico Superior de Huatusco, aquí podrás
                        llenar un test, elaborado por el personal del instituto, con la finalidad de, ayudarte a tí como
                        egresado del ITSH a posicionarte en una empresa o institución adecuada a tu perfil académico,
                        anexando tus datos que se han ido recabando desde que acudiste a tu servicio social.
                    </p>

                    <p align="justify">
                        Recuerda que el ITSH te apoya en todo momento, el Sistema de Seguimieto te otorga un curriculum
                        con la informacion profesional que adquiere el egresado desde sus practicas de servicio social,
                        practicas de residencia profesional y tu empleo actual, cuya informacion deberás llenar a
                        continuación:
                    </p>
                    <form method="post" action="{% url 'test2' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error %}
                            <h3 class="text-danger">{{ error }}</h3>
                        {% endif %}
                        <div class="row uniform">
                            {% for pregunta in preguntas %}
                                <div class="12u$">
                                    <label for="{{ pregunta.id }}">{{ pregunta.texto }}</label>
                                    {% if pregunta.tipo == 1 %}
                                        <input type="text" name="{{ pregunta.id }}" id="{{ pregunta.id }}" required/>
                                    {% endif %}
                                    {% if pregunta.tipo == 2 %}
                                        <div class="select-wrapper">
                                            <select name="{{ pregunta.id }}" id="{{ pregunta.id }}">
                                                <option value="1">SI</option>
                                                <option value="2">NO</option>
                                            </select>
                                        </div>
                                    {% endif %}
                                    {% if pregunta.tipo == 3 %}
                                        <input type="file" name="{{ pregunta.id }}" id="{{ pregunta.id }}" required/>
                                    {% endif %}
                                    {% if pregunta.tipo == 4 %}
                                        <input type="text" name="{{ pregunta.id }}" id="{{ pregunta.id }}" required/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="ENVIAR TEST" class="special"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </article>
</div>

<!-- Scripts -->
<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'index/assets/js/skel.min.js' %}"></script>
<script src="{% static 'index/assets/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'index/assets/js/ie/respond.min.js'%}"></script><![endif]-->
<script src="{% static 'index/assets/js/main.js' %}"></script>

</body>
</html>