{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock %}
{% block title %}
    Acerca de
{% endblock %}
{% block content %}

    <article id="main">
        <header>
            <h2>¿Que es el seguimiento de egresados?</h2>
            <p>¿Quienes elaboran éste programa?</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                <p style="text-align:justify;">Seguimiento de Egresados es el área que permite analizar el desempeño y
                    el impacto de los egresados en el sector productivo. Es muy importante para el ITSH recabar y
                    actualizar la información de los egresados, ya que sirve como punto de partida para la gestión de
                    recursos y así poder proporcionar a los egresados capacitación constante; es decir, proveer de
                    elementos para la mejora continua y el desarrollo profesional de nuestros egresados en el sector
                    productivo.</p>

                <p style="text-align:justify;">Para ello, el departamento de Vinculación es el encargado de promover
                    este seguimiento y asi ayudar a los egresados a tener una oportunidad en el campo laboral para el
                    cual tuvieron una preparación académica.</p>

                <hr/>

                <h4>Departamento de vinculación</h4>
                <p style="text-align:justify;">Esta área se encarga de actualizar la base de datos de los egresados de
                    nuestra Institución, para mantener contacto con ellos, y así conocer el desempeño que han tenido
                    dentro del sector productivo, logrando obtener una evaluación sobre el impacto que tiene el proceso
                    académico en la sociedad, además de conocer las nuevas necesidades que se están generando dentro de
                    ésta.</p>

                <p style="text-align:justify;">Si eres egresado de nuestra Institución y quieres actualizar tus datos,
                    ingresa al sistema de egresados y actualiza tu información laboral.</p>

            </div>
        </section>
    </article>

    <!-- Footer -->
    <footer id="footer">
        <!--<ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>-->
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="#">Rafa and Nanoz</a></li>
        </ul>
    </footer>
{% endblock %}
{% block scripts %}

{% endblock %}