{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    <style>

    </style>
{% endblock %}
{% block title %}
    Oferta de empleo
{% endblock %}
{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h1>OFERTAS DE EMPLEO ITSH</h1>
        </div>

    </section>
    <body style="background-color:#345983;">
    <div class="container" style="background-color:#2e3842;">
        <form role="form" action="{% url 'oferta' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" id="id" value="3">
            <div class="row"
                 style="background-color:#2e3842;border-style:solid; border-width:1px; border-radius:10px 10px 0 10px;  box-shadow: 10px 10px 5px #3773a0;">

                <div class="col-md-6" style="background-color:#2e3842;margin-top:50px;">
                    <div class="row">
                        <div class="col-sm-12" style="background-color:#2e3842;">
                            <strong style="font-size:30px; border-bottom:solid 1px;">{{ ofertaEmpleo.nombre }}</strong>
                        </div>
                        <div class="col-sm-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Empresa:
                                </strong>
                                {{ ofertaEmpleo.empresa }}
                            </p>
                        </div>
                        <div class="col-md-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Descripcion:
                                </strong>
                                {{ ofertaEmpleo.descripcion }}
                            </p>
                        </div>
                        <div class="col-md-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Requisito:
                                </strong>
                                {{ ofertaEmpleo.requisitos }}
                            </p>
                        </div>
                        <div class="col-md-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Ubicacion:
                                </strong>
                                {{ ofertaEmpleo.ubicacion }}
                            </p>
                        </div>
                        <div class="col-md-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Contacto:
                                </strong>
                                {{ ofertaEmpleo.contacto }}
                            </p>
                        </div>
                        <div class="col-md-12" style="background-color:#2e3842;">
                            <p style="font-size:22px;">
                                <strong style="font-size:25px;">
                                    Teléfono:
                                </strong>
                                {{ ofertaEmpleo.telefono }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="background-color:#2e3842;border-radius:20px;padding-right:10px;">
                    <input type="image" src="{{ ofertaEmpleo.dameImagen }}" width="500px" height="500px;"
                           style="border-radius:20px 20px 0 20px;  box-shadow: 10px 10px 5px #888888;margin-left:-15px;">
                </div>

            </div>
        </form>
    </div>
    </body>
{% endblock %}
{% block scripts %}

{% endblock %}