{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock %}
{% block title %}
    OFERTA
{% endblock %}
{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h1>OFERTAS DE EMPLEO ITSH</h1>
            <p>Aquí puedes ver las ofertas ITSH</p>
        </div>
    </section>
    <body style="background-color:#2e3842;">
    <div class="container" style="background-color:#2e3842;">
        {% if ofertasEmpleos %}

            {% for ofertaEmpleo in ofertasEmpleos %}
                <form role="form" action="{% url 'oferta' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="id" value="{{ ofertaEmpleo.id }}">
                    <div class="row"
                         style="background-color:#2e3842;border-style:solid; border-width:1px; border-radius:10px 10px 0 10px;  box-shadow: 10px 10px 5px #888888;">
                        <div class="col-md-6" style="background-color:#2e3842;margin-top:100px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong style="font-size:30px; border-bottom:solid 1px;">
                                        Titulo : {{ ofertaEmpleo.nombre }}
                                    </strong>
                                </div>
                                <div class="col-md-12">
                                    <strong style="font-size:25px;">
                                        Descripcion :
                                    </strong>
                                    <strong style="font-size:20px;">
                                        {{ ofertaEmpleo.descripcion }}
                                    </strong>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary" style="margin-bottom:10px;">
                                        Ver Detalles
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="background-color:#2e3842;border-radius:20px;padding-right:10px;">
                            <input type="image" src="{{ ofertaEmpleo.dameImagen }}" width="500px" height="500px;"
                                   style="border-radius:20px 20px 0 20px;  box-shadow: 10px 10px 5px #888888;margin-left:-15px;">
                        </div>

                    </div>
                </form>
            {% endfor %}
        {% else %}
            <h1>{{ mensaje }}</h1>
        {% endif %}
    </div>
    </body>
{% endblock %}
{% block scripts %}

{% endblock %}