{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock %}
{% block title %}
    Sistema de egresados ITSH
{% endblock %}
{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>SEGUIMIENTO DE EGRESADOS </h2>
            <p>¿Eres egresado del ITSH<br/>
                y aún no encuentras empleo?<br/>
                Ingresa al <a href="#">Sistema de egresados</a>.</p>
            <ul class="actions">
                <li><a href="{% url 'login' %}" class="button special">Ingresar</a></li>
            </ul>
        </div>
        <a href="#one" class="more scrolly">Ver más...</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Portal De Egresados De ITSH</h2>
                <p style="font-size:25px;color:white ">Aquí puedes encontrar datos acerca de este programa elaborado
                    para los egresados del ITSH</p>
            </header>
            <ul class="icons major">
                <li><span class="icon fa fa-users major style1" style="color:blue"><span
                        class="label">Lorem</span></span></li>
                <li><span class="icon fa fa-graduation-cap major style2" style="color:GREEN"><span
                        class="label">Ipsum</span></span></li>
                <li><span class="icon fa fa-industry major style1" style="color:YELLOW"><span class="label">Dolor</span></span>
                </li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image"><img src="{% static 'index/images/egresado2.jpg' %}" alt=""/></div>
            <div class="content">
                <h2>BENEFICIOS PARA LOS EGRESADOS<br/>
                </h2>
                <p>Administra tu curriculum, Contacta a organizaciones empleadoras, contacta a ITSH para buscar
                    empleadores.</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="{% static 'index/images/egresado.jpg' %}" alt=""/></div>
            <div class="content">
                <h2>BOLSA DE TRABAJO ITSH<br/>
                </h2>
                <p>Facilita La Búsqueda Y Prospección De Empleos, Facilita La Selección De Personal,Integra Y Difunde
                    Información Del Campo Laboral Y
                    Fortalece La Vinculación Del Entorno Laboral Con El ITSH;</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="{% static 'index/images/egresado3.jpg' %}" alt=""/></div>
            <div class="content">
                <h2>ACCEDE SÓLO CON TU MATRÍCULA</h2>
                <p>Si no recuerdas tu matrícula puedes ingresar Aquí para recuperar tu matrícula, o en la opción del
                    menú "Buscar Matrícula"</p>
            </div>
        </section>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>BENEFICIOS</h2>
                <p>Los beneficios de usar el Sistema de Egresados son:</p>
            </header>
            <ul class="features">
                <li class="icon fa fa-child " style="font-size:20px;">
                    <h3>Libertad</h3>
                    <p>Tu eliges la empresa para la cual quieres postularte.</p>
                </li>
                <li class="fa fa-comments" style="font-size:20px;">
                    <h3>Contacto</h3>
                    <p>El ITSH te contacta con la empresa empleadora para postularte como candidato a laborar.</p>
                </li>
                <li class="fa fa-tachometer" style="font-size:20px;">
                    <h3>Rapidez</h3>
                    <p>Es fácil y rápido solo con llenar tus datos puedes ver las ofertas de empleo.</p>
                </li>
                <li class="fa fa-heart-o" style="font-size:20px;">
                    <h3>Apoyo</h3>
                    <p>El ITSH te ayuda a generar tu curriculum de acuerdo a tu formacion académica</p>
                </li>
                <li class="fa fa-object-group" style="font-size:20px;">
                    <h3>Union</h3>
                    <p>Somos el contacto entre el egresado y el empleador.</p>
                </li>
                <li class="fa fa-rocket" style="font-size:20px;">
                    <h3>Eficaz</h3>
                    <p>Evita permisos y papeleos, todo lo elaboras en línea.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
        <div class="inner">
            <header>
                <h2>INGRESA Y OBSERVA LAS OFERTAS DEL ITSH</h2>
                <p>Aquí puedes encontrar información sobre empresas que tiene el ITSH para recomendarte.</p>
            </header>

            <ul class="actions vertical">
                <!--<li><a href="#" class="button fit special">Activate</a></li>-->
                <li><a href="{% url 'egresados' %}" class="button fit">Egresados</a></li>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">

            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; ITSH</li>
            <li>Deseñado by: <a href="#">RAFA and NANOZ</a></li>
        </ul>
    </footer>
{% endblock %}
{% block scripts %}

{% endblock %}