{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>INGRESO</title>
    <link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'index/login/css/style.css' %}">


</head>

<body>

<div class="wrapper">
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Porfavor Ingrese</h2>
        <input type="text" class="form-control" name="username" id="username" placeholder="EMAIL" required=""
               autofocus=""/>
        <input type="password" class="form-control" name="password" id="password" placeholder="CONTRASEÑA" required=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ENTRAR</button>
        {% if error %}
            <span>{{ error }}</span>
        {% endif %}
    </form>
    <form class="form-signin" action="{% url 'registro' %}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrate</button>
    </form>
</div>


</body>
</html>
