{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrate</title>
    <link rel="stylesheet" href="{% static 'index/login/css/style.css' %}">
    <link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
</head>
<body>
<div class="wrapper">
    <form action="{% url 'registro' %}" method="post" id="form-registro" class="form-signin">
        <h2 class="form-signin-heading">Registrate</h2>
        {% if error %}
            <h3 class="text-danger">{{ error }}</h3>
        {% endif %}
        {% csrf_token %}
        <input type="email" placeholder="Email" name="email" id="email" required="required" class="form-control"
               autofocus="">
        <input class="form-control" placeholder="Nombre" type="text" name="name" id="name" required="required">
        <input class="form-control" placeholder="Apellido Paterno" type="text" name="apellidop" id="apellidop"
               required="required">
        <input class="form-control" placeholder="Apellido Materno" type="text" name="apellidom" id="apellidom"
               required="required">
        <input class="form-control" placeholder="Matrícula" type="text" name="matricula" id="matricula"
               required="required">
        <select class="form-control" placeholder="SELECCIONE" name="carrera" id="carrera">
            {% for carrera in carreras %}
                <option value="{{ carrera }}">{{ carrera }}</option>
            {% endfor %}
        </select>
        <select class="form-control" placeholder="SELECCIONE" name="sexo" id="sexo">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
        </select>
        <input class="form-control" placeholder="Contraseña" type="password" name="Pass1" id="Pass1"
               required="required">
        <input class="form-control" placeholder="Repita su contraseña" type="password" name="Pass2" id="Pass2"
               required="required">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar">
        <a href="{% url 'UsosYCondiciones' %}">Terminos de Uso y Condiciones</a>
    </form>
</div>
<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'index/assets/js/skel.min.js' %}"></script>
<script src="{% static 'index/assets/js/util.js' %}"></script>
<!--[if lte IE 8]>
<script src="{% static 'index/assets/js/ie/respond.min.js'%}"></script>
<![endif]-->
<script src="{% static 'index/assets/js/main.js' %}"></script>
<script src="{% static 'index/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'index/js/jquery.validate.español.js' %}"></script>
<script>
    $('form#form-registro').validate({
        rules: {
            Pass1: {
                required: true,
                minlength: 6
            },
            Pass2: {
                required: true,
                equalTo: "#Pass1"
            }
        },
        submitHandler: function (form) {
            form.submit();
        },
    });
</script>
</body>
</html>