{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-STORE">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include 'favicons.html' %}
    <!--[if lte IE 8]><script src="{% static 'index/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'index/assets/css/main.css' %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'index/assets/css/ie8.css' %}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'index/assets/css/ie9.css' %}" /><![endif]-->
    {% block styles %}

    {% endblock %}

</head>
<body>

<header id="header" class="alt">
    <!--<h1><a href="index.html">Seguimiento de Egresados</a></h1>-->
    <h1><a href="{% url 'index_app:index' %}">Inicio</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="{% url 'index_app:index' %}">Inicio</a></li>
                        <li><a href="{% url 'egresados' %}">Egresados</a></li>
                        <li><a href="{% url 'acercaDe' %}">Acerca de</a></li>
                        {% if user.is_authenticated %}
                            <li>Hola {{ user.nombre }}</li>
                            <li><a href="{% url 'salir' %}">Salir</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Ingresa</a></li>
                            <li><a href="{% url 'OfertaNueva' %}">Registrar Oferta</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>

<div id="page-wrapper">
    {% block content %}

    {% endblock %}
</div>
<script src="{% static 'ofertas/css/jquery-2.1.4.min.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'index/assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'index/assets/js/skel.min.js' %}"></script>
<script src="{% static 'index/assets/js/util.js' %}"></script>
<!--[if lte IE 8]>
<script src="{% static 'index/assets/js/ie/respond.min.js'%}"></script>
<![endif]-->
<script src="{% static 'index/assets/js/main.js' %}"></script>

{% block scripts %}

{% endblock %}
</body>
</html>