{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}

{% endblock %}
{% block title %}
    Uso de condiciones y Terminos
{% endblock %}
{% block content %}
    <article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <p>
                        Declaración de derechos y responsabilidades
                    </p><br>
                    <p>
                    </p><br>
                    <p>Esta Declaración de derechos y responsabilidades (en lo sucesivo, "Declaración", "Condiciones" o
                        "DDR") tiene su origen en los Principios de "Sistema de seguimiento de egresados" y contiene las
                        condiciones de servicio que rigen nuestra relación con los usuarios y con todos aquellos que
                        interactúan con "Sistema de seguimiento de egresados", así como con las marcas, los productos y
                        los servicios de "Sistema de seguimiento de egresados", que se denominan "servicios de "Sistema
                        de seguimiento de egresados"" o "servicios". Al utilizar o acceder a los servicios de "Sistema
                        de seguimiento de egresados", muestras tu conformidad con esta Declaración, que se actualiza
                        periódicamente según se estipula en la sección 13 más adelante. Al final de este documento
                        también encontrarás otros recursos que te ayudarán a comprender cómo funciona "Sistema de
                        seguimiento de egresados".
                    </p><br>
                    <p>Puesto que "Sistema de seguimiento de egresados" ofrece una amplia gama de servicios, es posible
                        que te pidamos que leas y aceptes condiciones complementarias aplicables a tu interacción con
                        una aplicación, un producto o un servicio determinados. En caso de que esas condiciones
                        complementarias entren en conflicto con esta DDR, las condiciones complementarias asociadas con
                        la aplicación, el producto o el servicio prevalecerán en lo referente al uso de tales
                        aplicaciones, productos o servicios en caso de conflicto.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Privacidad
                    </p><br>
                    <p>
                    </p><br>
                    <p>Compartir el contenido y la información
                    </p><br>
                    <p>
                    </p><br>
                    <p>Eres el propietario de todo el contenido y la información que publicas en "Sistema de seguimiento
                        de egresados" y puedes controlar cómo se comparte a través de la configuración de la privacidad
                        y de las aplicaciones. Además:
                    </p><br>
                    <p>En relación con el contenido con derechos de propiedad intelectual (contenido de PI), como fotos
                        y vídeos, nos otorgas específicamente el siguiente permiso, sujeto a tu configuración de la
                        privacidad y de las aplicaciones: nos otorgas una licencia no exclusiva, transferible, con
                        posibilidad de ser subotorgada, libre de regalías y aplicable globalmente para utilizar
                        cualquier contenido de IP que publiques en "Sistema de seguimiento de egresados" o en conexión
                        con "Sistema de seguimiento de egresados" (licencia de PI). Esta licencia de PI finaliza cuando
                        eliminas tu contenido de PI o tu cuenta, a menos que el contenido se haya compartido con
                        terceros y estos no lo hayan eliminado.
                    </p><br>
                    <p>Cuando eliminas contenido de PI, este se elimina de forma similar a cuando vacías la papelera de
                        reciclaje de tu ordenador. No obstante, entiendes que es posible que el contenido eliminado
                        permanezca en copias de seguridad durante un plazo de tiempo razonable (si bien no estará
                        disponible para terceros).
                    </p><br>
                    <p>Cuando publicas contenido o información con la configuración "Público", significa que permites
                        que todos, incluidas las personas que son ajenas a "Sistema de seguimiento de egresados",
                        accedan y usen dicha información y la asocien a ti (por ejemplo, tu nombre y foto del perfil).
                    </p><br>
                    <p>Siempre valoramos tus comentarios y sugerencias acerca de "Sistema de seguimiento de egresados",
                        pero debes entender que podríamos utilizarlos sin obligación de compensarte por ello (del mismo
                        modo que tú no tienes obligación de ofrecerlos).
                    </p><br>
                    <p>
                    </p><br>
                    <p>Seguridad
                    </p><br>
                    <p>
                    </p><br>
                    <p>Hacemos todo lo posible para hacer que "Sistema de seguimiento de egresados" sea un sitio seguro,
                        pero no podemos garantizarlo. Necesitamos tu ayuda para que así sea, lo que implica los
                        siguientes compromisos de tu parte:
                    </p><br>
                    <p>No publicarás comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en
                        "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>No recopilarás información o contenido de otros usuarios ni accederás a "Sistema de seguimiento
                        de egresados" utilizando medios automáticos (como harvesting bots, robots, arañas o scrapers)
                        sin nuestro permiso previo.
                    </p><br>
                    <p>No subirás virus ni código malintencionado de ningún tipo.
                    </p><br>
                    <p>No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro
                        usuario.
                    </p><br>
                    <p>No publicarás contenido que resulte hiriente, intimidatorio, pornográfico, que incite a la
                        violencia o que contenga desnudos o violencia gráfica o injustificada.
                    </p><br>
                    <p>No utilizarás "Sistema de seguimiento de egresados" para actos ilícitos, engañosos,
                        malintencionados o discriminatorios.
                    </p><br>
                    <p>No realizarás ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento
                        correcto o al aspecto de "Sistema de seguimiento de egresados", como un ataque de denegación de
                        servicio o la alteración de la presentación de páginas u otra funcionalidad de "Sistema de
                        seguimiento de egresados".
                    </p><br>
                    <p>No facilitarás ni fomentarás el incumplimiento de esta Declaración o nuestras políticas.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Seguridad de la cuenta y registro
                    </p><br>
                    <p>
                    </p><br>
                    <p>Los usuarios de "Sistema de seguimiento de egresados" proporcionan sus nombres e información
                        reales y necesitamos tu colaboración para que siga siendo así. Estos son algunos de los
                        compromisos que aceptas en relación con el registro y mantenimiento de la seguridad de tu
                        cuenta:
                    </p><br>
                    <p>No proporcionarás información personal falsa en "Sistema de seguimiento de egresados", ni crearás
                        una cuenta para otras personas sin su autorización.
                    </p><br>
                    <p>No crearás más de una cuenta.
                    </p><br>
                    <p>Mantendrás la información de contacto exacta y actualizada.
                    </p><br>
                    <p>No compartirás tu contraseña (o, en el caso de los desarrolladores, tu clave secreta), no dejarás
                        que otra persona acceda a tu cuenta ni harás nada que pueda poner en peligro la seguridad de tu
                        cuenta.
                    </p><br>
                    <p>No transferirás la cuenta (incluida cualquier página o aplicación que administres) a nadie sin
                        nuestro consentimiento previo por escrito.
                    </p><br>
                    <p>Si seleccionas un nombre de usuario o identificador similar para tu cuenta o página, nos
                        reservamos el derecho de eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el
                        propietario de una marca comercial se queja por un nombre de usuario que no esté estrechamente
                        relacionado con el nombre real del usuario).
                    </p><br>
                    <p>
                    </p><br>
                    <p>Protección de los derechos de otras personas
                    </p><br>
                    <p>
                    </p><br>
                    <p>Respetamos los derechos de otras personas y esperamos que tú hagas lo mismo.
                    </p><br>
                    <p>No publicarás contenido ni realizarás ninguna acción en "Sistema de seguimiento de egresados" que
                        infrinja o viole los derechos de otros o que viole la ley de algún modo.
                    </p><br>
                    <p>Podemos retirar cualquier contenido o información que publiques en "Sistema de seguimiento de
                        egresados" si consideramos que infringe esta Declaración o nuestras políticas.
                    </p><br>
                    <p>Te proporcionamos las herramientas necesarias para ayudarte a proteger tus derechos de propiedad
                        intelectual. Para obtener más información, visita nuestra página Cómo informar de presuntas
                        infracciones de los derechos de propiedad intelectual.
                    </p><br>
                    <p>Si retiramos tu contenido debido a una infracción de los derechos de autor de otra persona y
                        consideras que ha sido un error, tendrás la posibilidad de apelar la decisión.
                    </p><br>
                    <p>Si infringes repetidamente los derechos de propiedad intelectual de otra persona, desactivaremos
                        tu cuenta si es oportuno.
                    </p><br>
                    <p>No podrás utilizar nuestros derechos de autor ni nuestras marcas comerciales, ni tampoco ninguna
                        marca que se parezca a las nuestras y cuya semejanza pueda dar lugar a confusiones, excepto en
                        los términos que lo permitan nuestras Normas de uso de las marcas de forma expresa o a menos que
                        recibas consentimiento previo por escrito de "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>Si obtienes información de los usuarios, deberás obtener su consentimiento previo, dejar claro
                        que eres tú (y no "Sistema de seguimiento de egresados") quien recopila la información y
                        publicar una política de privacidad que explique qué datos recopilas y cómo los usarás.
                    </p><br>
                    <p>No publicarás los documentos de identificación ni información financiera delicada de nadie en
                        "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>No etiquetarás a los usuarios ni enviarás invitaciones de correo electrónico a quienes no sean
                        usuarios sin su consentimiento. "Sistema de seguimiento de egresados" ofrece herramientas de
                        denuncia social para que los usuarios puedan hacernos llegar sus opiniones sobre el etiquetado.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Dispositivos móviles y de otros tipos
                    </p><br>
                    <p>
                    </p><br>
                    <p>Actualmente ofrecemos nuestros servicios para dispositivos móviles de forma gratuita pero ten en
                        cuenta que se aplicarán las tarifas normales de tu operadora, por ejemplo, para mensajes de
                        texto y datos.
                    </p><br>
                    <p>En caso de que cambies o desactives tu número de teléfono móvil, actualizarás la información de
                        tu cuenta de "Sistema de seguimiento de egresados" en un plazo de 48 horas para garantizar que
                        los mensajes no se le envíen por error a la persona que pudiera adquirir tu antiguo número.
                    </p><br>
                    <p>Proporcionas tu consentimiento y todos los derechos necesarios para permitir que los usuarios
                        sincronicen (incluso a través de una aplicación) sus dispositivos con cualquier información que
                        puedan ver en "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>
                    </p><br>
                    <p>Disposiciones especiales aplicables a anunciantes
                    </p><br>
                    <p>
                    </p><br>
                    <p>Si utilizas nuestras interfaces de creación de publicidad de autoservicio para crear, enviar o
                        entregar anuncios u otras actividades o contenido comerciales o patrocinados (denominados de
                        manera conjunta "interfaces de anuncios de autoservicio"), aceptas nuestras Condiciones de
                        anuncios de autoservicio. Además, tus anuncios u otras actividades o contenido comerciales o
                        patrocinados ubicados en "Sistema de seguimiento de egresados" o en nuestra red de editores
                        deberán cumplir nuestras Políticas de publicidad.
                    </p><br>
                    <p>Disposiciones especiales aplicables a páginas
                    </p><br>
                    <p>
                    </p><br>
                    <p>Si creas o administras una página de "Sistema de seguimiento de egresados", organizas una
                        promoción o pones en circulación una oferta desde tu página, aceptas nuestras Condiciones de las
                        páginas.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Disposiciones especiales aplicables al software
                    </p><br>
                    <p>
                    </p><br>
                    <p>Si descargas o utilizas nuestro software, como un producto de software independiente, una
                        aplicación o un plug-in para el navegador, aceptas que, periódicamente, el software puede
                        descargar e instalar mejoras, actualizaciones y funciones adicionales a fin de mejorarlo y
                        desarrollarlo.
                    </p><br>
                    <p>No modificarás nuestro código fuente ni llevarás a cabo con él trabajos derivados, como
                        descompilar o intentar de algún otro modo extraer dicho código fuente, excepto en los casos
                        permitidos expresamente por una licencia de código abierto o si te damos nuestro consentimiento
                        expreso por escrito.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Enmiendas
                    </p><br>
                    <p>
                    </p><br>
                    <p>Te avisaremos antes de realizar cambios importantes en estas condiciones y te daremos la
                        oportunidad de revisar y hacer comentarios sobre las condiciones revisadas antes de que
                        continúes utilizando nuestros Servicios.
                    </p><br>
                    <p>Si realizamos cambios en las políticas, normas u otras condiciones a las que haga referencia esta
                        ﻿﻿declaración o que estén incorporadas en ella, lo indicaremos en la página "Sistema de
                        seguimiento de egresados" Site Governance.
                    </p><br>
                    <p>Tu uso continuado de los servicios de "Sistema de seguimiento de egresados", una vez notificados
                        los cambios de nuestras condiciones, políticas o normas, supondrá tu aceptación de las
                        condiciones, políticas o normas modificadas.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Terminación
                    </p><br>
                    <p>
                    </p><br>
                    <p>Si infringes la forma o el fondo de esta Declaración, creas riesgos de cualquier tipo para
                        "Sistema de seguimiento de egresados" o nos expones a posibles responsabilidades jurídicas,
                        podríamos impedirte el acceso a "Sistema de seguimiento de egresados" total o parcialmente. Te
                        notificaremos por correo electrónico o la próxima vez que intentes acceder a tu cuenta. También
                        puedes eliminar tu cuenta o desactivar tu aplicación en cualquier momento. En tales casos, esta
                        Declaración cesará, pero las siguientes disposiciones continuarán vigentes: 2.2, 2.4, 3-5, 9.3 y
                        14-18.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Disputas
                    </p><br>
                    <p>
                    </p><br>
                    <p>Resolverás cualquier demanda, causa de acción o conflicto (colectivamente, "demanda") que tengas
                        con nosotros surgida de o relacionada con la presente Declaración o con "Sistema de seguimiento
                        de egresados" únicamente en el tribunal del Distrito Norte de California o en un tribunal
                        estatal del Condado de San Mateo, y aceptas que sean dichos tribunales los competentes a la hora
                        de resolver los litigios de dichos conflictos. Las leyes del estado de California rigen esta
                        Declaración, así como cualquier demanda que pudiera surgir entre tú y nosotros,
                        independientemente de las disposiciones sobre conflictos de leyes.
                    </p><br>
                    <p>Si alguien interpone una demanda contra nosotros relacionada con tus acciones, tu contenido o tu
                        información en "Sistema de seguimiento de egresados", te encargarás de indemnizarnos y nos
                        librarás de la responsabilidad por todos los posibles daños, pérdidas y gastos de cualquier tipo
                        (incluidos los costes y tasas legales razonables) relacionados con dicha demanda. Aunque
                        proporcionamos normas para la conducta de los usuarios, no controlamos ni dirigimos sus acciones
                        en "Sistema de seguimiento de egresados" y no somos responsables del contenido o la información
                        que los usuarios transmitan o compartan en "Sistema de seguimiento de egresados". No somos
                        responsables de ningún contenido que se considere ofensivo, inapropiado, obsceno, ilegal o
                        inaceptable que puedas encontrar en "Sistema de seguimiento de egresados". No nos hacemos
                        responsables de la conducta de ningún usuario de "Sistema de seguimiento de egresados", ya sea
                        en internet o en otros medios.
                    </p><br>
                    <p>INTENTAMOS MANTENER "Sistema de seguimiento de egresados" EN FUNCIONAMIENTO, SIN ERRORES Y
                        SEGURO, PERO LO UTILIZAS BAJO TU PROPIA RESPONSABILIDAD. PROPORCIONAMOS "Sistema de seguimiento
                        de egresados" TAL CUAL, SIN GARANTÍA ALGUNA EXPRESA O IMPLÍCITA, INCLUIDAS, ENTRE OTRAS, LAS
                        GARANTÍAS DE COMERCIABILIDAD, ADECUACIÓN A UN FIN PARTICULAR Y NO INCUMPLIMIENTO. NO
                        GARANTIZAMOS QUE "Sistema de seguimiento de egresados" SEA SIEMPRE SEGURO O ESTÉ LIBRE DE
                        ERRORES, NI QUE FUNCIONE SIEMPRE SIN INTERRUPCIONES, RETRASOS O IMPERFECCIONES. "Sistema de
                        seguimiento de egresados" NO SE RESPONSABILIZA DE LAS ACCIONES, EL CONTENIDO, LA INFORMACIÓN O
                        LOS DATOS DE TERCEROS Y POR LA PRESENTE NOS DISPENSAS A NOSOTROS, NUESTROS DIRECTIVOS, EMPLEADOS
                        Y AGENTES DE CUALQUIER DEMANDA O DAÑOS, CONOCIDOS O DESCONOCIDOS, DERIVADOS DE O DE ALGÚN MODO
                        RELACIONADOS CON CUALQUIER DEMANDA QUE TENGAS INTERPUESTA CONTRA TALES TERCEROS. SI ERES
                        RESIDENTE DE CALIFORNIA, NO SE TE APLICA EL CÓDIGO CIVIL DE CALIFORNIA §1542 , SEGÚN EL CUAL:
                        UNA DISPENSACIÓN GENERAL NO INCLUYE LAS DEMANDAS QUE EL ACREEDOR DESCONOCE O NO SOSPECHA QUE
                        EXISTEN EN SU FAVOR EN EL MOMENTO DE LA EJECUCIÓN DE LA RENUNCIA, LA CUAL, SI FUERA CONOCIDA POR
                        ÉL, DEBERÁ HABER AFECTADO MATERIALMENTE A SU RELACIÓN CON EL DEUDOR. NO SEREMOS RESPONSABLES DE
                        PÉRDIDAS DE BENEFICIOS NI DE OTROS DAÑOS EMERGENTES, ESPECIALES, INDIRECTOS O ACCESORIOS
                        DERIVADOS DE ESTA DECLARACIÓN DE "Sistema de seguimiento de egresados" O RELACIONADOS CON ELLA,
                        AUNQUE SE HAYA AVISADO DE LA POSIBILIDAD DE QUE SE PRODUZCAN DICHOS DAÑOS. NUESTRA
                        RESPONSABILIDAD CONJUNTA DERIVADA DE LA PRESENTE DECLARACIÓN O DE "Sistema de seguimiento de
                        egresados" NO PODRÁ SOBREPASAR LA CANTIDAD DE CIEN DÓLARES (100 USD) O, SI ES MAYOR, EL IMPORTE
                        QUE NOS HAYAS ABONADO EN LOS ÚLTIMOS DOCE MESES. LAS LEYES APLICABLES PODRÍAN NO PERMITIR LA
                        LIMITACIÓN O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS ACCESORIOS O EMERGENTES, POR LO QUE LA
                        LIMITACIÓN O EXCLUSIÓN ANTERIOR PODRÍA NO SER APLICABLE EN TU CASO. EN TALES CASOS, LA
                        RESPONSABILIDAD DE "Sistema de seguimiento de egresados" SE LIMITARÁ AL GRADO MÁXIMO PERMITIDO
                        POR LA LEY APLICABLE.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Disposiciones especiales aplicables a usuarios que no residan en Estados Unidos
                    </p><br>
                    <p>
                    </p><br>
                    <p>Nos esforzamos por crear una comunidad global con normas coherentes para todos, pero también por
                        respetar la legislación local. Las siguientes disposiciones se aplicarán a los usuarios y a las
                        personas que no sean usuarias de "Sistema de seguimiento de egresados" que se encuentran fuera
                        de Estados Unidos:
                    </p><br>
                    <p>Das tu consentimiento para que tus datos personales sean transferidos y procesados en Estados
                        Unidos.
                    </p><br>
                    <p>Si te encuentras en un país bajo el embargo de Estados Unidos o que forme parte de la lista SDN
                        (Specially Designated Nationals, Nacionales especialmente designados) del Departamento del
                        Tesoro de Estados Unidos, no participarás en actividades comerciales en "Sistema de seguimiento
                        de egresados" (como publicidad) ni utilizarás una aplicación o sitio web de la Plataforma. No
                        utilizarás "Sistema de seguimiento de egresados" si se te ha prohibido recibir productos,
                        servicios o software procedente de Estados Unidos.
                    </p><br>
                    <p>Las condiciones aplicables específicamente a los usuarios de "Sistema de seguimiento de
                        egresados".
                    </p><br>
                    <p>
                    </p><br>
                    <p>Definiciones
                    </p><br>
                    <p>
                    </p><br>
                    <p>Con ""Sistema de seguimiento de egresados"" o "Servicios de "Sistema de seguimiento de
                        egresados"" hacemos referencia a las funciones y los servicios que están disponibles, incluso a
                        través de (a) nuestro sitio web en www."Sistema de seguimiento de egresados".com y cualquier
                        otro sitio web con la marca "Sistema de seguimiento de egresados" o con otra marca compartida
                        (incluidos subdominios, versiones internacionales, widgets y versiones móviles); (b) nuestra
                        plataforma; (c) plug-ins sociales como el botón "Me gusta", el botón "Compartir" y otras
                        propuestas similares; y (d) otros soportes, marcas, productos, servicios, software (como una
                        barra de herramientas), dispositivos o redes existentes o que se desarrollen en un futuro.
                        "Sistema de seguimiento de egresados" se reserva el derecho de decidir, según su propio
                        criterio, que determinadas marcas, productos o servicios estén sujetos a condiciones
                        independientes y no a esta DDR.
                    </p><br>
                    <p>El término "Plataforma" se refiere al conjunto de API y servicios (como el contenido) que
                        permiten que otras personas, incluidos los desarrolladores de aplicaciones y los operadores de
                        sitios web, obtengan datos de "Sistema de seguimiento de egresados" o nos los proporcionen a
                        nosotros.
                    </p><br>
                    <p>El término "información" se refiere a los hechos y otra información sobre ti, incluidas las
                        acciones que realizan los usuarios y las personas que, sin ser usuarios, interactúan con
                        "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>El término "contenido" se refiere a cualquier información que tú u otros usuarios publiquéis,
                        proporcionéis o compartáis utilizando los Servicios de "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>El término "datos" o "datos de usuario" se refiere a los datos, incluidos el contenido o la
                        información de un usuario, que otros pueden obtener de "Sistema de seguimiento de egresados" o
                        proporcionar a "Sistema de seguimiento de egresados" a través de la plataforma.
                    </p><br>
                    <p>El término "publicar" significa publicar en "Sistema de seguimiento de egresados" o proporcionar
                        contenido de otro modo mediante "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>Por "usar" se entiende utilizar, ejecutar, copiar, reproducir o mostrar públicamente, distribuir,
                        modificar, traducir y crear obras derivadas.
                    </p><br>
                    <p>El término "aplicación" significa cualquier aplicación o sitio web que usa la plataforma o accede
                        a ella, así como cualquiera que recibe o ha recibido datos de nosotros. Si ya no accedes a la
                        plataforma pero no has eliminado todos los datos que te hemos proporcionado, el término
                        "aplicación" continuará siendo válido hasta que los elimines.
                    </p><br>
                    <p>Con "Marcas comerciales" nos referimos a la lista de marcas comerciales que se indican aquí.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Otros
                    </p><br>
                    <p>
                    </p><br>
                    <p>Si resides o tienes tu ubicación de actividad comercial principal en EE. UU. o Canadá, esta
                        Declaración constituye el acuerdo entre tú y "Sistema de seguimiento de egresados", Inc. De lo
                        contrario, esta Declaración constituye el acuerdo entre tú y "Sistema de seguimiento de
                        egresados" Ireland Limited. Las referencias a “nos”, “nosotros” y “nuestro” significan "Sistema
                        de seguimiento de egresados", Inc. o "Sistema de seguimiento de egresados" Ireland Limited,
                        según corresponda.
                    </p><br>
                    <p>Esta Declaración constituye el acuerdo completo entre las partes en relación con "Sistema de
                        seguimiento de egresados" y sustituye cualquier acuerdo previo.
                    </p><br>
                    <p>Si alguna parte de esta Declaración no puede hacerse cumplir, la parte restante seguirá teniendo
                        validez y efecto completos.
                    </p><br>
                    <p>Si no cumpliéramos alguna parte de esta Declaración, no se considerará una exención.
                    </p><br>
                    <p>Cualquier corrección a o exención de esta Declaración deberá hacerse por escrito y estar firmada
                        por nosotros.
                    </p><br>
                    <p>No transferirás ninguno de tus derechos u obligaciones bajo esta Declaración a ningún tercero sin
                        nuestro consentimiento.
                    </p><br>
                    <p>Todos nuestros derechos y obligaciones según esta Declaración son asignables libremente por
                        nosotros en conexión con una fusión, adquisición o venta de activos o por efecto de ley o de
                        algún otro modo.
                    </p><br>
                    <p>Nada de lo dispuesto en esta Declaración nos impedirá cumplir la ley.
                    </p><br>
                    <p>Esta Declaración no otorga derechos de beneficiario a ningún tercero.
                    </p><br>
                    <p>Nos reservamos todos los derechos que no te hayamos concedido de forma expresa.
                    </p><br>
                    <p>Cuando accedas a "Sistema de seguimiento de egresados" o lo uses deberás cumplir todas las leyes
                        aplicables.
                    </p><br>
                    <p>
                    </p><br>
                    <p>Al utilizar los Servicios de "Sistema de seguimiento de egresados" o al acceder a estos, nos
                        autorizas para recopilar y utilizar dicho contenido. Puede que también te interese consultar los
                        siguientes documentos, ya que contienen información adicional sobre el uso de "Sistema de
                        seguimiento de egresados":
                    </p><br>
                    <p>
                    </p><br>
                    <p>Página de la plataforma: esta página te ayuda a comprender mejor lo que sucede cuando añades una
                        aplicación de terceros o usas "Sistema de seguimiento de egresados" Connect, incluido el modo en
                        que pueden acceder y utilizar tus datos.
                    </p><br>
                    <p>Normas de la plataforma de "Sistema de seguimiento de egresados": estas normas describen las
                        políticas que se aplican a las aplicaciones, incluidos los sitios Connect.
                    </p><br>
                    <p>Políticas de publicidad: estas normas describen las políticas que se aplican a los anuncios
                        publicados en "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>Condiciones de publicidad de autoservicio: estas condiciones se aplican cuando utilices
                        interfaces de anuncios de autoservicio para crear, enviar o entregar anuncios u otras
                        actividades o contenido comerciales o patrocinados.
                    </p><br>
                    <p>Normas de las promociones: estas normas describen las políticas que se aplican si ofreces
                        concursos, apuestas y otros tipos de promociones a través de "Sistema de seguimiento de
                        egresados".
                    </p><br>
                    <p>Recursos relacionados con la marca de "Sistema de seguimiento de egresados": estas normas
                        describen las políticas que se aplican a las marcas comerciales, logotipos y capturas de
                        pantalla de "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>Cómo informar de presuntas infracciones de los derechos de propiedad intelectual
                    </p><br>
                    <p>Condiciones de las páginas: estas normas se aplican al uso que realizas de las páginas de
                        "Sistema de seguimiento de egresados".
                    </p><br>
                    <p>Normas comunitarias: estas normas describen nuestras expectativas en relación con el contenido
                        que publicas en "Sistema de seguimiento de egresados" y con tu actividad en "Sistema de
                        seguimiento de egresados".
                    </p>
                </section>
            </div>
        </section>
    </article>
{% endblock %}